body {
    background: linear-gradient(120deg, #1f1c2c, #928dab);
    font-family: 'Segoe UI';
    color: white;
}

.container {
    max-width: 850px;
    margin: 40px auto;
    background: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

button {
    background: #00e6e6;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chip {
    background: #444;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}

.skill-row {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.bar {
    background: #444;
    height: 10px;
    border-radius: 10px;
}

.fill {
    height: 100%;
    background: #00e6e6;
    border-radius: 10px;
}
